.App {
  text-align: center;
  align-items: "center";

}

.content {
  margin: 20px;
  padding-left: 20px;
  padding-right: 20px;
  padding-top: 25%;
  padding-bottom: 25%;
  border: 1px solid #ccc;
  border-radius: 5px;
  background-color: #da2b2b;
}

button {
  padding: 10px 20px;
  font-size: 16px;
  cursor: pointer;
  background-color: #007bff;
  color: white;
  border: none;
  border-radius: 5px;
  align-items: "center";
}

main {
  padding: 20px;
  align-items: "center";

}

footer {
  position: fixed;
  bottom: 0;
  left: 0;
  right:0;
  padding-top: calc(3px + 2vmin);
  padding-bottom: calc(3px + 2vmin);
  padding-right: 20vh;
  padding-left: 20vh;
  align-items: center;
}
